<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="MyConnection" connectionString="Data Source=DESKTOP-K1N96AR;Initial Catalog=Task_DB;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="TaskV1.Properties.Settings.Task_DBConnectionString" connectionString="Data Source=DESKTOP-K1N96AR;Initial Catalog=Task_DB;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Task_DBEntities" connectionString="metadata=res://*/StkItemModel.csdl|res://*/StkItemModel.ssdl|res://*/StkItemModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-K1N96AR;initial catalog=Task_DB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Task_DBEntities1" connectionString="metadata=res://*/StkItemModel.csdl|res://*/StkItemModel.ssdl|res://*/StkItemModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-K1N96AR;initial catalog=Task_DB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Task_DBEntities2" connectionString="metadata=res://*/ItemOrderModel.csdl|res://*/ItemOrderModel.ssdl|res://*/ItemOrderModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-K1N96AR;initial catalog=Task_DB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Task_DBEntities3" connectionString="metadata=res://*/OrderModel.csdl|res://*/OrderModel.ssdl|res://*/OrderModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-K1N96AR;initial catalog=Task_DB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Task_DBEntities4" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-K1N96AR;initial catalog=Task_DB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Task_DBEntities5" connectionString="metadata=res://*/TaskModel.csdl|res://*/TaskModel.ssdl|res://*/TaskModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-K1N96AR;initial catalog=Task_DB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Task_DBEntities6" connectionString="metadata=res://*/TaskModel.csdl|res://*/TaskModel.ssdl|res://*/TaskModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-K1N96AR;initial catalog=Task_DB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Task_DBEntities7" connectionString="metadata=res://*/TaskModel.csdl|res://*/TaskModel.ssdl|res://*/TaskModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-K1N96AR;initial catalog=Task_DB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Task_DBEntities8" connectionString="metadata=res://*/TaskModel.csdl|res://*/TaskModel.ssdl|res://*/TaskModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-K1N96AR;initial catalog=Task_DB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Task_DBEntities9" connectionString="metadata=res://*/Model.TaskModel.csdl|res://*/Model.TaskModel.ssdl|res://*/Model.TaskModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-K1N96AR;initial catalog=Task_DB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>